/* Start General style here */
* {
    box-sizing: border-box;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E9EBEE;
}
ul {
    list-style: none;
    padding: 0px;
}
li {
    display: inline-block;
    cursor: pointer;
    margin: 20px;

}
a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    padding: 10px 50px;
    background: #0082FF;
    border-radius: 5px 30px;
    font-weight: bold;
    transition: 0.3s;
}
a:hover{
    background: white;
    color: #4267B2;
}
.active {
    background: white;
    color: #4267B2;
}
.container {
    width: 80%;
    overflow: hidden;
    margin: auto;
    text-align: center;
}
.desc-content {
    background-color: white;
    border-radius: 7px;
    margin-top: 15px;
    overflow: hidden;
    padding: 10px 50px;
    display: none;
}
h3 {
    font-size: 50px;
    margin: 5px;
    text-shadow: 1px 1px 2px grey;
    color: white;
}
p {
    line-height: 1.5;
    font-size: 25px;
}
img {
    width: 80%;
}
/* End General style here */
nav {
    width: 100%;
    background-color: #4267B2;
    padding: 10px;
    display: flex;
}
.content1 {
    color: aliceblue;
    text-shadow: 1px 1px 2px grey;
    background: rgb(0,130,255);
    background: radial-gradient(circle, rgba(0,130,255,1) 0%, rgba(148,187,233,1) 100%);
}
.content1 h3 {
    color: aliceblue;
}
.content2 {
    background: rgb(0,130,255);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.content2 h3 {
    color: white;
    text-shadow: 1px 1px 5px grey;
}
.content3 {
    background: rgb(0,130,255);
    background: radial-gradient(circle, rgba(0,130,255,1) 0%, rgba(148,187,233,1) 100%);
}